@model JobTrack.ViewModels.JobDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Job.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.Name)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Job.Position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.Position)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Job.DateApplied)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.DateApplied)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Job.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.Status.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Job.ApplicationUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.ApplicationUser.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Job.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.Company.Location)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Job.JobId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
